<app-navbar [totalQuantity]="cart.totalQuantity"></app-navbar>

<main *ngIf="!orderComplete">
    <h1>Cart</h1>

    <div id="cartWrapper" 
        *ngIf="items.length > 0; else emptyCartWrapper">

        <div id="leftColumn">
            Your cart contains:
            <table>
                <tr>
                    <th>Product</th>
                    <th style="text-align: center;">Quantity</th>                
                    <th style="text-align: right;">Price Each</th>
                    <th style="text-align: right;">Total Price</th>
                </tr>

                <tr *ngFor="let item of items; let i = index;">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;">{{item.quantity}}</td>
                    <td style="text-align: right;">&pound;{{item.price | number:'1.2-2'}}</td>
                    <td style="text-align: right;">&pound;{{item.totalPrice | number:'1.2-2'}}</td>
                    <td><i class="far fa-trash-alt" 
                            title="Remove {{item.name}} from your cart"
                            (click)="cartService.removeProductFromCart(i)"></i></td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align: right; font-weight: bold;">The total price is: &pound;{{cart.totalPrice | number:'1.2-2'}}</td>
                    <td></td>
                </tr>
            </table>           
        </div>
        
        <div id="rightColumn">
            <app-checkoutform [totalQuantity]="cart.totalQuantity"></app-checkoutform>

            
        </div>
    </div>

    <ng-template #emptyCartWrapper>
        <p>Your cart is empty.</p>
        <p>Would you like to <a routerLink="/">take a look at the products</a>?</p></ng-template>
</main>

<main *ngIf="orderComplete && items.length > 0">
    <h1>Success</h1>
    <p>Thank you for your order {{ user.firstname }}.</p>
    <p>Your credit card will be billed for &pound;{{totalPrice | number:'1.2-2'}} 
        and your item(s) will be delivered to 
        {{ user.addressLine1 }},
        {{ user.addressLine2 }},
        {{ user.addressLine3 }},
        {{ user.town }},
        {{ user.region }},
        {{ user.postcode }}.
    </p>
</main>
