<app-navbar></app-navbar>

<main>
    <div id="productGrid" *ngIf="products.length > 0">
        <div class="product-cell" *ngFor="let product of products">
            <h2>{{product.name}}</h2>
            <a routerLink="product/{{product.id}}"
            title="View more information about the {{product.name}}"><img src="{{product.url}}"></a>
            <!-- <br>{{product.description}} -->
            <br>&pound;{{product.price}}
            <br><button class="add-button"
                title="Add {{product.name}} to the cart"
                (click)="cartService.addProductToCart(product, 1)"><i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</main>