@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    background: #f0f0f0;

    main{
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        max-width: 1000px;
        margin: 20px auto;
    }
}
